<div class="row">
    <div class="col-xl-10">
<div class="card mb-3">
    <div class="card-header">Employee Table</div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="header">
                <tr>
                    <th colspan="1"></th>
                    <th>No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Date of Joining</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor='let employe of employees; let i=index'>
                    <td (click)='updateEmploye(employe._id)'>
                    <i  class="fa fa-pencil fa-2x"></i>
                    </td>
                    <td (click)='employeInfo(employe._id)'>{{i}}</td>
                    <td (click)='employeInfo(employe._id)'>{{employe.firstname}}</td>
                    <td (click)='employeInfo(employe._id)'>{{employe.lastname}}</td>
                    <td (click)='employeInfo(employe._id)'>{{employe.email}}</td>
                    <td (click)='employeInfo(employe._id)'>{{employe.doj}}</td>
                    <td ><select [(ngModel)]='employe.status'  (change)='changeStatus($event,i)'>
                        <option [selected]='employe.status==Current'  value="Current">Current</option>
                        <option [selected]='employe.status==Ex'  value="Ex">Ex</option>
                    </select></td>
                    <td *ngIf='employe.hrApproval==true' class="">verified</td>
                    <td *ngIf='employe.hrApproval==false'>
                        <button (click)='approveEmploye(employe.pid)' class="btn btn-danger">
                            Verify
                    </button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>